<div class="card rounded-0 mb-3">
    <div class="card-header rounded-0 px-4 d-flex justify-content-between align-items-center">
        <h3 class="m-0">{{post.title}}</h2>
            <p class="px-2 m-0">Posted by {{post.user.username}} on {{format_date post.created_at}}</p>
    </div>
    <div class="card-body px-4">
        <p>{{post.content}}</p>
    </div>
</div>

{{#each post.comments as |comment|}}
{{> comment}}
{{/each}}

{{#if logged_in}}

<div class="card rounded-0 mb-3">
    <div class="card-header rounded-0 px-4 d-flex justify-content-between align-items-center">
        <h3 class="my-3"></h3>
    </div>
    <div class="card-body px-4">
        <form class="comment-form">
            <label for="comment">Comment</label>
            <textarea class="form-control mb-3 mt-1 rounded-0" id="comment" rows="3" data-post-id="{{post.id}}"></textarea>
            <div class="d-grid">
                <button type="submit" class="btn bg-secondary rounded-1">Add Comment</button>
            </div>
        </form>
    </div>
</div>

{{/if}}

<script src="../js/comment.js"></script>
